# Assets
Resources/

# Local build output
.build/
.tmp/
.xcodebuild/

# macOS
.DS_Store

# Xcode user data
snoopy.xcodeproj/project.xcworkspace/
snoopy.xcodeproj/xcuserdata/
*.xcuserstate
*.xcbkptlist
